:root{
    --sc-color : rgba(4, 136, 83, 1);
    --pr-color : rgba(255, 255, 255, 1);
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3FFF4;
}

/* Navbar Style */

*{
    z-index: 2;
}

.navbar{
 z-index: 3;
}

.navbar-brand{
    font-weight: 700;
    font-size: 20px;
}

.nav-link{
    font-size: 16px;
}

.nav-link .active{
    font-weight: 700;
}

.btn-sc{
    width: 133px;
    height: 40px;
    background-color: #fff;
    color: var(--sc-color);
    border: none;
    font-size: 16px;
    font-weight: 700;
}

.btn-pr{
    width: 133px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
}

/* Hero section */

#hero{
    background: linear-gradient(160deg, var(--sc-color), #000);
    height: 100vh;
    width: 100%;
}

.img-hero{
    height: 100%;
    z-index: 2;
}

.hero-tagline h1{
   color: #fff;
   font-weight: 700;
   font-size: 52px;
   line-height: 72px;
}

.hero-tagline{
    font-size: 16px;
    color: #fff;
    margin-bottom: 60px;
    margin-top: 20px;
    line-height: 30px;
    width: 85%;
}

.button-lg-primary{
    width: 237px;
    height: 70px;
    background-color: #fff;
    color: var(--sc-color);
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.Accsent-img{
    z-index: 1;
}